* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contener {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    height: 800px;
}
    


.button {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 5px;
    

}

#box1 {
    background-color: red;
    

}

#box2 {
    background-color: rgb(97, 169, 10);
}

#box3 {
    background-color: rgb(134, 124, 124);
}

#box4 {
    background-color: blue;
}
.abhi{
    display: flex;
    justify-content: center;
    margin: 100px;
    background-color: darkmagenta;
    color: blue;

    
}